.social {
  display: flex;
  vertical-align: top;
  text-align: center;
  justify-content: center;
  margin: 1em auto 0;

  @include media($medium-screen-up) {
    margin: 0;
  }

  li {
    display: inline-block;
    vertical-align: top;
    margin: 0 0.25em;

    a {
      align-items: center;
      background-color: $lightest-gray;
      display: flex;
      height: 2.75em;
      justify-content: center;
      position: relative;
      overflow: hidden;
      width: 2.75em;

      &:hover {
        svg {
          fill: $action-color;
        }
      }

      svg {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        display: block;
        width: 50%;
        height: auto;
        margin: auto;
        fill: $darker-gray;
        transition: fill $base-duration $base-timing;
      }
    }
  }
}
