// Typography
$base-font-family: 'Roboto', sans-serif;
$header-font-family: 'Lato', sans-serif;

// Font Sizes
$base-font-size: 1em;

// Line height
$base-line-height: 1.618;
$heading-line-height: 1.1;

// Other Sizes
$base-spacing: $base-line-height * $base-font-size;
$small-spacing: $base-spacing / 2;

// Colors
$white:            #ffffff;
$black:            #110103;
$darker-gray:      #3B3C3C;
$dark-gray:        #484848;
$medium-gray:      #888989;
$light-gray:       #979797;
$lighter-gray:     #cecece;
$lightest-gray:    #f6f6f6;
$red:              #e60013;
$blue:             #3b97c7;
$green:            #61e69d;
$alert:            #fff6bf;
$error:            #f0523d;
$notice:           #e5edf8;
$success:          #e6efc2;

// Font Colors
$base-font-color: $black;
$header-font-color: $medium-gray;
$action-color: $blue;
$action-hover-color: $medium-gray;

// Font-smoothing
$font-smoothing: antialiased;

// Border
$base-border-radius: 3px;
$base-border-color: $darker-gray;
$base-border: 1px solid $base-border-color;

// Background Colors
$base-background-color: $white;
$secondary-background-color: $lightest-gray;

// Forms
$form-box-shadow: inset 2px 3px rgba($black, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);

// Animations
$base-duration: 300ms;
$base-timing: ease-in-out;

// Retina Media Query
$retina: "only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx)";

// Media Query Breakpoints
$small-screen: 768px;
$medium-screen: 769px;
$large-screen: 1000px;
$xlarge-screen: 1400px;

$small-screen: "max-width: #{$small-screen}";
$medium-screen-up: "min-width: #{$medium-screen}";
$large-screen-up: "min-width: #{$large-screen}";
$xlarge-screen-up: "min-width: #{$xlarge-screen}";
