.footer {
  display: flex;
  justify-content: center;
  padding: 0.5em 1.5em 1.5em;

  @include media($medium-screen-up) {
    padding: 4em 5em 1em;
  }

  .footer-inner {
    display: flex;
    flex-direction: column;
    padding: 1.5em 0 0;
    position: relative;
    width: 100%;
    height: 100%;
    justify-content: center;


    @include media($medium-screen-up) {
      max-width: 90rem;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: flex-start;
      justify-content: space-between;
      padding: 3em 0 0;
    }

    &:before {
      content: '';
      left: 0;
      top: 0;
      display: block;
      border-top: 1px solid $light-gray;
      display: block;
      width: 100%;
      position: absolute;
    }
  }

  .footer-col {
    display: block;
  }

  .footer-logo {
    display: block;
    width: 100%;
    max-width: 234px;
    margin: 0 auto $base-spacing 0;

    @include media($medium-screen-up) {
      margin: 0 auto $small-spacing 0;
      width: 234px;
      height: 0;
      overflow: hidden;
      padding-bottom: 16.05%;
      position: relative;
    }

    svg, img {
      display: block;
      width: 100%;
      height: auto;

      @include media($medium-screen-up) {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%)
      }
    }
  }

  .copyright {
    font-size: 0.875em;
    color: $light-gray;
    text-transform: uppercase;
    text-align: center;

    @include media($medium-screen-up) {
      text-align: left;
    }
  }

  .menu-footer {
    display: flex;
    width: auto;
    justify-content: center;
    margin-bottom: $small-spacing;

    @include media($medium-screen-up) {
      margin: 0;
    }

    li {
      list-style: none;
      margin: 0;
      padding: 0;

      a {
        display: block;
        padding: 0.125em 1rem;
        color: $dark-gray;
        font-size: 1em;

        @include media($medium-screen-up) {
          padding: 0.125em 2rem;
          color: $dark-gray;
          font-size: 1.25em
        }

        &:hover {
          color: $action-color;
        }
      }
    }
  }
}
