.section-hero {
  position: relative;
  overflow: hidden;

  @include media($medium-screen-up) {
    height: 66vh;
  }

  .background-image {
    margin: 0;
    width: 100%;
    z-index: 1;
    height: 44vh;
    position: relative;
    display: block;

    @include media($medium-screen-up) {
      height: 100vh;
      overflow: hidden;
    }

    img {
      width: 100%;
      height: 100%;
      max-width: none;
      display: block;
    }
  }

  .copy {
    background-color: $white;
    max-width: 90%;
    padding: 1.5em 1.5em;
    margin-bottom: -3.5em;
    width: 100%;
    position: relative;
    z-index: 2;
    transform: translateY(-3.5em);

    @include media($medium-screen-up) {
      bottom: 0;
      left: 0;
      max-width: 66%;
      padding: 2.5em 5em;
      position: absolute;
      transform: none;
      z-index: 10;
      margin: 0;
    }

    @include media($large-screen-up) {
      max-width: 54%;
    }

    .hero-logo {
      display: block;
      width: 100%;
      height: auto;
      max-width: 66%;
      margin-bottom: 1rem;

      @include media($medium-screen-up) {
        max-width: 50%;
        margin-bottom: 2rem;
      }
    }

    p {
      color: $darker-gray;
    }
  }
}

body.home .section-hero {
  @include media($medium-screen-up) {
    height: 100vh;
  }
}