.section-hero {
  position: relative;

  @include media($medium-screen-up) {
    height: 66vh;
    overflow: hidden;
  }

  .background-image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    width: 100%;
    z-index: 1;
    height: 40vh;

    @include media($medium-screen-up) {
      left: 0;
      position: absolute;
      top: 0;
      height: 100%;
    }
  }

  .copy {
    background-color: $white;
    max-width: 90%;
    padding: 1.5em 2em;
    margin-bottom: -3.5em;
    width: 100%;
    position: relative;
    z-index: 2;
    transform: translateY(-3.5em);

    @include media($medium-screen-up) {
      bottom: 0;
      left: 0;
      max-width: 66%;
      padding: 2.5em 5em;
      position: absolute;
      transform: none;
      z-index: 10;
      margin: 0;
    }

    @include media($large-screen-up) {
      max-width: 54%;
    }

    p {
      color: $darker-gray;
    }
  }
}

body.home .section-hero {
  @include media($medium-screen-up) {
    height: 100vh;
  }
}