.content-block {
  width: 100%;

  .copy {
    width: 100%;
    padding: 1.5em 0;
    text-align: left;

    @include media($medium-screen-up) {
      padding: 3em 0;
    }

    p {

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.content-none {
  padding: 12em 0 10em;
  text-align: center;
}
