.section-hero {
  height: 100vh;
  overflow: hidden;
  position: relative;

  .background-image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    margin: 0;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
  }

  .copy {
    background-color: $white;
    bottom: 0;
    left: 0;
    max-width: 42%;
    position: absolute;
    padding: 3em 4em;
    width: 100%;
    z-index: 10;
  }
}
