.section-timeline {
  position: relative;
  display: flex;
  overflow: hidden;

  .title-vertical {
    @include media($medium-screen-up) {
      width: 1.75em;
      position: relative;
      max-width: 5%;
      z-index: 2;
      order: 1;
    }
  }

  .timeline {
    margin: 0;
    width: 100%;
    position: relative;

    @include media($medium-screen-up) {
      max-width: 95%;
      margin: 0 auto 0 0;

      &:before {
        content: '';
        display: block;
        position: absolute;
        left: 30%;
        width: 14px;
        height: 100%;
        z-index: 5;
        pointer-events: none;
        background-image: linear-gradient(to bottom, #3b98cd 0%, #61e69d 100%)
      }
    }

    li {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: column;
      background-color: $lightest-gray;

      @include media($medium-screen-up) {
        flex-direction: row;
        border: none;
        background: none;
      }
    }

    .dates {
      width: 100%;
      padding: 2em 1em 0em;

      @include media($medium-screen-up) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 30%;
        flex-basis: 30%;
        padding: 2em 3em 2em 0;
        transition: border-color 500ms $base-timing;
      }

      span {
        display: inline-block;
        line-height: 1.1;
        font-size: 1.75em;
        font-weight: 700;
        color: $lighter-gray;
        font-family: $header-font-family;

        @include media($medium-screen-up) {
          font-size: 3.5em;
        }
      }
    }

    .info {
      width: 100%;
      padding: 1em;
      border-bottom: 1px solid $lighter-gray;

      @include media($medium-screen-up) {
        background-color: $lightest-gray;
        max-width: 70%;
        flex-basis: 70%;
        padding: 3.5em 5em;
      }

      p:last-child {
        margin-bottom: 0;
      }
    }

    .title-timeline {
      font-size: 2em;

      @include media($medium-screen-up) {
        font-size: 3em;
      }
    }

    li:last-child {
      .info {
        border-bottom: none;
      }
    }
  }
}
