.content-block {
  width: 100%;

  .content-inner {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
    padding: 2em 1.5em;
    position: relative;

    @include media($medium-screen-up) {
      max-width: 90rem;
      padding: 5em;
      flex-direction: row;
    }
  }

  .copy {
    width: 100%;  
    padding: 1.5em 0;
    text-align: left;

    @include media($medium-screen-up) {
      padding: 3em 0;
    }

    p {

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.content-none {
  padding: 12em 0 10em;
  text-align: center;
}
