.section-featured_mentors {
  position: relative;

  .title-vertical {
    width: 1.75em;
    position: relative;
    z-index: 2;
  }

  .featured-mentors {
    width: 38%;
    margin: 0 8% 0 2%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    z-index: 2;
    height: 100%;

    li {
      width: 50%;
      height: auto;
      list-style: none;
      margin: 0;
      padding: 0 2em 2em 0;
      position: relative;

      .inner-frame {
        width: 100%;
        height: 0;
        padding-top: 110%;
        position: relative;
        overflow: hidden;
      }

      &:nth-child(2) .inner-frame {
        transform: translate(12%, 10%);
      }

      &:nth-child(3) .inner-frame {
        transform: translate(12%, 10%);
      }

      &:nth-child(4) .inner-frame {
        transform: translate(24%, 20%);
      }

      .details {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        bottom: 0;
        z-index: 2;
        padding: 1em;
        color: $white;
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, rgba(39, 3, 7, 0.7) 100%);

        h3 {
          color: $white;
          font-size: 1.125em;
          font-style: italic;
          font-weight: 700;
          margin-bottom: 0.5em;
        }

        h4 {
          color: $white;
          font-size: 0.875em;
          font-weight: 700;
          margin-bottom: 0.5em;
        }
      }

      .photo {
        height: 100%;
        left: 0;
        margin: 0;
        position: absolute;
        top: 0;
        width: 100%;

        img {
          display: block;
          height: 100%;
          left: 50%;
          max-width: none;
          position: absolute;
          transform: translateX(-50%);
          width: auto;
        }
      }
    }
  }

  .copy {
    display: block;
    width: 48%;
    padding-left: 0;
    padding-right: 4rem;
    position: relative;
    z-index: 1;
    height: 100%;
  }

  .gradient-bg {
    background: linear-gradient(to bottom, #F9F9F9, #E7E7E7);
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 190%;
    height: 100%;
    z-index: -1;
    opacity: 0.3;
  }
}
